*{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

.navbar{
	display: flex;
	width: 100%;
	background-color: #000;
	color: #fff;
	justify-content: space-around;
	font-weight: bold;
	border-top: solid 5px #ff28b9;
}

#brand{
	padding: 15px;
}

nav div ul{
	display: flex;
	margin: 0;
}

nav div ul li{
	padding: 15px;
}

nav div ul li:hover{
	background-color: #ff28b9;
}